<!doctype html>
<html lang="en">

<head>
	<title>Bear Clothing | Store</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="./Styles/login/css/style.css">

</head>

<body class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">BEAR CLOTHING STORE</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<form name="loginForm" class="signin-form">
							<div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid && !loginForm.username.$pristine }">
								<input type="text" class="form-control" name="account" ng-model="account" placeholder="Account" required>
								<div class="help-block" ng-messages="loginForm.account.$error" ng-if="loginForm.account.$invalid && !loginForm.account.$pristine">
									<p ng-message="required">Account is required.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && !loginForm.password.$pristine }">
								<input id="password-field" type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								<div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$invalid && !loginForm.password.$pristine">
									<p ng-message="required">Password is required.</p>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3" ng-disabled="loginForm.$invalid" ng-click="Login(account, password)">Sign In</button>
							</div>
						</form>
						<p class="loginhere">
							Have already an account? <a href="#!register" class="loginhere-link">Register here</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="./Styles/login/js/popper.js"></script>
	<script src="./Styles/login/js/main.js"></script>

</body>

</html>