<!doctype html>
<html lang="en">

<head>
	<title>Bear Clothing Store</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Css Styles -->
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/bootstrap.min.css'); ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/font-awesome.min.css') ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/elegant-icons.css') ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/jquery-ui.min.css') ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/magnific-popup.css') ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/owl.carousel.min.css') ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/slicknav.min.css') ?>" type="text/css">
    <link rel="stylesheet" href="<?php echo base_url('Venders/css/style.css') ?>" type="text/css">
	<link rel="stylesheet" href="<?php echo base_url('Venders/register/css/stylelogin.css') ?>">
</head>
<body class="img js-fullheight"
	style="background-image: url(../../Venders/register/images/bg-registration-form-1.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">BEAR CLOTHING STORE</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>
						<form action="#" class="signin-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" required>
							</div>
							<div class="form-group">
								<input id="password-field" type="password" class="form-control" placeholder="Password"
									required>
								<span toggle="#password-field"
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">LOGIN</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="<?php echo base_url('Venders/register/js/jquery.min.js') ?>""></script>
	<script src="<?php echo base_url('Venders/register/js/popper.js') ?>""></script>
	<script src="<?php echo base_url('Venders/register/js/bootstrap.min.js') ?>""></script>
	<script src="<?php echo base_url('Venders/register/js/main.js') ?>""></script>
	<script src="<?php echo base_url('Venders/js/jquery-3.3.1.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/bootstrap.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/jquery.magnific-popup.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/jquery-ui.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/mixitup.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/jquery.countdown.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/jquery.slicknav.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/owl.carousel.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/jquery.nicescroll.min.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/main.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/angularjs.js') ?>"></script>
    <script src="<?php echo base_url('Venders/js/angular.js') ?>"></script>
</body>
</html>