<heading-page></heading-page>
    <!-- Product Details Section Begin -->
    <section class="product-details spad" setbg>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic" >
                        <div class="product__details__slider__content" >
                            <div class="product__details__pic__slider owl-carousel"  product-slider>
                                <img data-hash="product-1" class="product__big__img" 
                                    src="{{productid[0].Image_url}}"   alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{productid[0].NameProduct}}</h3>
                        <div class="product__details__price">{{productid[0].Price}} $</div>
                        <p>{{productid[0].ProductDetail}}</p>
                        <div class="product__details__button">
                            <div class="quantity" >
                                <span>Quantity:</span>
                                <div class="pro-qty" quantity-buttons>
                                    <input type="text" ng-model = 'quantity'  ng-init="quantity = 1">
                                </div>
                            </div>
                            <a class="cart-btn" ng-click = "addToCart(productid[0].ID_Product, productid[0].NameProduct, productid[0].Image_url, productid[0].Price, quantity)"><span class="icon_bag_alt"></span> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <!-- Product Details Section End -->
    <footer-page></footer-page>