<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bear Clothing | Store</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="./Styles/register/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="./Styles/register/css/style.css">
</head>

<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" ng-submit="register(signupForm.$valid)" name="signupForm">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.account.$invalid && !signupForm.account.$pristine }">
                          <input type="text" class="form-input" name="account" ng-model="account" placeholder="Account" required />
                          <div class="help-block" ng-messages="signupForm.account.$error" ng-if="signupForm.account.$invalid && !signupForm.account.$pristine">
                            <p ng-message="required">Account is required.</p>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.username.$invalid && !signupForm.username.$pristine }">
                          <input type="text" class="form-input" name="username" ng-model="username" placeholder="Username" required />
                          <div class="help-block" ng-messages="signupForm.username.$error" ng-if="signupForm.username.$invalid && !signupForm.username.$pristine">
                            <p ng-message="required">Username is required.</p>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.birthday.$invalid && !signupForm.birthday.$pristine }">
                          <input type="date" class="form-input" name="birthday" ng-model="birthday" placeholder="Birthday" required />
                          <div class="help-block" ng-messages="signupForm.birthday.$error" ng-if="signupForm.birthday.$invalid && !signupForm.birthday.$pristine">
                            <p ng-message="required">Birthday is required.</p>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.address.$invalid && !signupForm.address.$pristine }">
                          <input type="text" class="form-input" name="address" ng-model="address" placeholder="Address" required />
                          <div class="help-block" ng-messages="signupForm.address.$error" ng-if="signupForm.address.$invalid && !signupForm.address.$pristine">
                            <p ng-message="required">Address is required.</p>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.password.$invalid && !signupForm.password.$pristine }">
                          <input type="password" class="form-input" name="password" ng-model="password" placeholder="Password" required ng-minlength="3" />
                          <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$invalid && !signupForm.password.$pristine">
                            <p ng-message="required">Password is required.</p>
                            <p ng-message="minlength">Password must be at least 3 characters.</p>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.re_password.$invalid && !signupForm.re_password.$pristine }">
                            <input type="password" class="form-input" name="re_password" ng-model="rePassword" placeholder="Repeat your password" required ng-minlength="3" ng-pattern="password" />
                            <div class="help-block" ng-messages="signupForm.re_password.$error" ng-if="signupForm.re_password.$invalid && !signupForm.re_password.$pristine">
                              <p ng-message="required">Repeat password is required.</p>
                              <p ng-message="minlength">Repeat password must be at least 3 characters.</p>
                              <p ng-message="pattern">Repeat password must match the password.</p>
                            </div>
                          </div>
                        <div class="form-group">
                          <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" ng-disabled="signupForm.$invalid" />
                        </div>
                      </form>
                    <p class="loginhere">
                        Have already an account? <a href="#!login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
    <script>
        (function ($) {

            $(".toggle-password").click(function () {

                $(this).toggleClass("zmdi-eye zmdi-eye-off");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

        })(jQuery);
    </script>
</body>

</html>