<heading-page></heading-page>
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat = 'product in cartProducts'>
                                    <td class="cart__product__item">
                                        <img src="{{product.Image_url}}" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>{{product.NameProduct}}</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ {{product.Price}}</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="number" value="{{product.Quantity}}" ng-model = "product.Quantity", ng-change = "updateProductInCart($index)">
                                        </div>
                                    </td>
                                    <td class="cart__total">{{product.Price * product.Quantity}}</td>
                                    <td class="cart__close"><span class="icon_close" ng-click = "removeFromCart($index)" ></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#!shop">Continue Shopping</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form>
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total <span>$ {{totalPrice}}</span></li>
                        </ul>
                        <a href="#!checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

    <footer-page></footer-page>